DB_HOST=localhost
DB_PORT=5432
DB_USER=panganku
DB_PASSWORD=secret
DB_NAME=panganku_db
REDIS_URL=redis://localhost:6379
JWT_SECRET=ganti_dengan_secret_panjang
AES_KEY=ganti_dengan_hex_64_karakter
APP_PORT=8080
APP_ENV=development
WEATHER_DEFAULT_LAT=-7.1183
WEATHER_DEFAULT_LNG=112.4167
WHATSAPP_VERIFY_TOKEN=isi_token_verifikasi_webhook
WHATSAPP_APP_SECRET=isi_app_secret_meta
WHATSAPP_PHONE_NUMBER_ID=isi_phone_number_id_whatsapp
WHATSAPP_ACCESS_TOKEN=isi_access_token_whatsapp_cloud_api
